* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Rubik", sans-serif;
}
body {
  width: 100%;
}

main {
  width: 100%;
  height: auto;
}

.verm {
  color: red;
}

/* barra de pesquisa */
header {
  position: sticky; /* manter barra de pesquisa na tela */
  top: 0;
  border-radius: 0px 0px 24px 24px;
  width: 80%;
  height: 70px;
  background-color: white;
  margin: auto;
  font-size: 20px;
  z-index: 2;
  background-color: #F9EDFF;
  box-shadow:rgba(0, 0, 0, 0.445) 0px 3px 8px;
  font-weight: 500;
}

.menu{
  display: none;
}

#caixa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

li.navegacao {
  top: 25px;
  margin: 0px 12px 0px 12px;
}

.navegacao a:hover{
  color: #840694;
}

.navegacao a:active {
  background-color: #840694;
  color: white;
}

.navegacao a {
  padding: 15px;
  border-radius: 15px;
}

#logo {
  left: 20px;
  width: 102px;
  height: 42px;
  top: 15px;
}

#login {
  top: 15px;
  padding-left: 40px;
  padding-top: 10px;
  width: 100px;
  margin: 0px 15px 0px 1px;
  border-radius: 12px;
  background-color: #840694;
  color: #f9edff;
  transition-duration: 0.5s;
  a{
    color: white;
    text-align: center;
    font-weight: 700;
  }
  a:hover{
    color: black;
  }
}

#login:hover {
  background-color: #f4b625;
  color: #341c12;
  transition: 0.5;
}
/*Início do conteúdo da página*/

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  position: relative;
  margin: 2% 5% 0 5%;
}

.sessoes_lar_temporarios {
  width: 100%;
  margin-top: 2%;
  font-family: "Rubik", sans-serif;
  margin-bottom: 2%;
}

.lar_temporario {
  height: 13vh;
}

.titulo_lar_temporario {
  color: #840694;
  font-size: 58px;
  font-weight: 900;
}

.titulo_lar_temporario i{
  margin-right: 1%;
  font-size: 50px;
}

.paragrafo_lar_temporario{
  color: #390040;
  font-size: 20px;
  font-weight: 500;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #000000;
  opacity: 20%;
}

#linha_maior {
  width: 100%;
  height: 2px;
  background-color: #000000;
  opacity: 20%;
}

.titulo_cadastro, .titulos_adicionais  {
  font-size: 34px;
  color: #131014;
  margin-top: 2%;
  font-weight: 900;
}

.paragrafo_cadastro_lar, .paragrafos_adicionais {
  color: #131014;
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
  margin-top: 1%;
}

.formulario_lar {
  background-color: #f4b625;
  padding: 1.5rem 2rem 1.5rem 2rem;
  width: 100%;
  height: auto;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 3%;
}

#teste33 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input {
  padding: 8px;
  margin: 15px;
  border-radius: 12px;
  background-color: #d9d9d9;
}
#teste33 div {
  margin: 10px 10px 10px 15px;
  font-size: 24px;
}
legend {
  font-size: 24px;
  font-style: normal;
  margin-top: 35px;
  font-weight: 800;
  line-height: 149.986%; /* 35.997px */
  letter-spacing: 1.2px;
}
label {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 149.986%; /* 35.997px */
  letter-spacing: 1.2px;
}
textarea {
  left: 2%;
  width: 90%;
  border-radius: 12px;
  background-color: #d9d9d9;
  height: 150px;
}
#sanimal {
  width: 100%;
}

.area_compromisso {
  margin: 0 auto;
  background-color: #f9edff;
  width: 90%;
  height: auto;
  margin-top: 15vh;
  border-radius: 24px;
}

.condicoes_compromisso {
  margin-top: 80px;
  width: 100%;
  height: max-content;
  font-size: 24px;
  text-align: center;
  padding: 2.5rem 0;
}

.todas_condicoes {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding: 1rem 0 1rem 0;
}

#declaro,
#consentimento {
  font-size: 24px;
  font-weight: 500;
}
#declaracao,
#consdigital,
#enviar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#consdigital {
  padding-bottom: 5%;
}
#enviar button {
  background-color: #840694;
  padding: 30px 100px 30px 100px;
  border-radius: 12px;
}

#enviar button:hover {
  background-color: #653623;
  margin-top: 10px;
}

#final {
  margin: 5% 0% 5% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button p {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 149.986%; /* 35.997px */
  letter-spacing: 1.2px;
}

#p1 {
  font-family: "rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 149.986%; /* 20.998px */
  letter-spacing: 0.7px;
}



/* rodape */
footer{
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #390040;
}

#footer_content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: left;
}

.footer_list1,.footer_list2, #redes_sociais{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 120px;
}

.footer_list1, .footer_list2{
  gap: 20px;
}

footer ul{
  justify-content: unset;
}


.footer_link{
  color:#fff;
  opacity: 75%;
  font-size: 18px;
  transition: all 0.4s;
  text-align: left;
}

.footer_list1, .footer_list2, .footer_link:hover{
  color: #FFCA50;
}

.footer_titulos{
  left: 0;
  margin-top: 44px;
}

#redes_sociais{
  margin-left: 30px;
}

#redes_sociais .footer_titulos_redes{
  color: #fff;
  font-size: 22px;
  left: 22%;
}

#footer_social_media .footer_link{
  display:inline;
}

#footer_social_media .footer_link i{
  font-size: 40px;
  padding: 20px;
  margin-top: 11px;
}

#footer_content .footer_titulos {
  color: #fff;
  font-size: 22px;
}

#footer_logo{
  z-index: -1;
  justify-content:center;
  display: flex;
  background-color: #390040;
  text-align: center;
  padding-top: 50px;
}

#footer_logo img{
  width: 163.19px;
  margin-bottom: 9px;
}

#footer_logo p{
  color: #fff;
  opacity: 80%;
  align-self: center;
  font-size: 16px;
  margin-bottom: 21px;
}
#icon{
  display: none;
}

.meios_pagamento{
  margin-top: 5%;
  margin-left: -15px;
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: #390040;
}

#titulo_pagamento{
  padding-bottom: 4%;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

#redes_sociais{
  margin-top: 10%;
}
#titulo_entrega {
  padding-top: 1%;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

.ent {
  color: white;
  padding-top: 1%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

#footer_protecao_peluda p{
  font-weight: 300;
}

#car {
  color: white;
}

@media screen and (max-width: 451px) {
  
  #caixa {
    display: none;
  }

  #login {
    width: 70px;
    padding: 0;
    padding-left: 13px;
    height: 30px;
  }

  input p {
    font-size: 10px;
  }

  .container {
    width: 100%;
    height: auto;
  }
  .paragrafo_cadastro_lar {
    display: flex;
    flex-flow: row wrap;
  }
  #linha1 {
    margin-top: 100px;
    width: 80%;
  }

  .titulo_cadastro {
    margin-top: 30px;
  }

  .formulario_lar {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
  }

  .larg {
    width: 200px;
  }
  div label {
    width: 100%;
  }
  #teste33 {
    width: 40%;
  }
  .quebra {
    white-space: nowrap; /*não quebrar linha */
  }

  #footer_content > ul {
    font-size: 12px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer_list1,
  .footer_list2,
  #redes_sociais {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
    flex-wrap: wrap;
  }

  #icon {
    display: inline;
    height: 60%;
    margin-top: 13px;
    margin-left: 10px;
  }

  .area_compromisso {
    margin: 0px;
  }

}

