* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Rubik", sans-serif;
}
body {
  width: 100%;
  background-color: #351d12;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* barra de pesquisa */
header {
  position: sticky; /* manter barra de pesquisa na tela */
  top: 0;
  border-radius: 0px 0px 24px 24px;
  width: 80%;
  height: 70px;
  background-color: white;
  margin: auto;
  font-size: 20px;
  z-index: 2;
  background-color: #F9EDFF;
  box-shadow:rgba(0, 0, 0, 0.445) 0px 3px 8px;
  font-weight: 500;
}

.menu{
  display: none;
}

#caixa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

li.navegacao {
  top: 25px;
  margin: 0px 12px 0px 12px;
}

.navegacao a:hover{
  color: #840694;
}

.navegacao a:active {
  background-color: #840694;
  color: white;
}

.navegacao a {
  padding: 15px;
  border-radius: 15px;
}

#logo {
  left: 20px;
  width: 102px;
  height: 42px;
  top: 15px;
}

#login {
  top: 15px;
  padding-left: 40px;
  padding-top: 10px;
  width: 100px;
  margin: 0px 15px 0px 1px;
  border-radius: 12px;
  background-color: #840694;
  color: #f9edff;
  transition-duration: 0.5s;
  a{
    color: white;
    text-align: center;
    font-weight: 700;
  }
  a:hover{
    color: black;
  }
}

#login:hover {
  background-color: #f4b625;
  color: #341c12;
  transition: 0.5;
}

/* teste */

#destaquedogs{
  background-image: url(imagem/banner.png);
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  height: 500px;
  margin-top: 2.5%;
  display: flex;
  border-radius: 12px;
  width: 90%;
}

#bdestaque{
  display: flex;
  background-color: #6BFFB8;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: "Rubik", sans-serif;
  border-radius: 12px;
  font-weight: 500;
  margin-left: 900px;
}

#bdestaque:hover{
    background-color: #F4B625;
    border: 3px solid black ;
    box-sizing: border-box;
}

#textodestaque {
  font-size: 50px;
  font-weight: bold;
  width: 670px;
  height: 120px;
  font-family: "Rubik", sans-serif;
  margin-top: 70px;
  margin-left: 80px;
  color: white;
}

#destacar{
  font-size: 50px;
  font-weight: bold;
  width: 670px;
  height: 120px;
  font-family: "Rubik", sans-serif;
  color: #FFE45E;
}

#paragrafodestaque{
  color: white;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
  margin-left: 80px;
  width: 490px;
}

#produtos{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#produtosh1{
  color: #fff;
  font-size: 44px;
  margin-top: 50px;
}

#destaque2,
#destaque3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item1 {
  background-color: #d9d9d9;
  width: 280px;
  height: 370px;
  border-radius: 24px;
  margin-top: 30px;
}
.item1 img {
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 20px;
}

/*valor*/
.preco {
  padding-left: 75px;
  padding-top: 5px;
  font-size: 32px;
  font-weight: 700;
  color: #840694;
}


/*R$ pequeno*/
sup {
  color: #840694;
  font-size: 15px;
}

/* nome dos itens, primeira linha*/
.p1 {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
/* nome dos itens, segunda linha*/
.p2 {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

#compre {
  width: 85%;
  background-color: #f4b625;
  height: 35px;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}



#compre > p {
  text-align: center;
  padding-top: 7px;
  font-size: 15px;
  font-weight: 600;
}

.meios_pagamento{
  background-color: #F9EDFF;
  width: 50%;
  height: 10vh;
}



/* Rodapé */
footer {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #390040;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: left;
}

.footer_list1,
.footer_list2,
#redes_sociais {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 120px;
}

.footer_list1,
.footer_list2 {
  gap: 20px;
}

footer ul {
  justify-content: unset;
}

.footer_link {
  color: #fff;
  opacity: 75%;
  font-size: 18px;
  transition: all 0.4s;
  text-align: left;
}

.footer_list1,
.footer_list2,
.footer_link:hover {
  color: #ffca50;
}

.footer_titulos {
  left: 0;
  margin-top: 44px;
}

#redes_sociais {
  margin-left: 30px;
  top: 7%;
}

#redes_sociais .footer_titulos_redes {
  color: #fff;
  font-size: 22px;
  left: 22%;
  top: 20px;
}

#footer_social_media .footer_link {
  display: inline;
}

#footer_social_media .footer_link i {
  font-size: 40px;
  padding: 20px;
  margin-top: 11px;
}

#footer_content .footer_titulos {
  color: #fff;
  font-size: 22px;
}

#footer_logo {
  z-index: -1;
  justify-content: center;
  width: 100%;
  display: flex;
  background-color: #390040;
  text-align: center;
  padding-top: 50px;
}

#footer_logo img {
  width: 163.19px;
  margin-bottom: 9px;
}
#footer_logo p {
  color: #fff;
  opacity: 80%;
  align-self: center;
  font-size: 16px;
  margin-bottom: 21px;
}

.meios_pagamento{
  margin-top: 5%;
  margin-left: -15px;
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: #390040;
}

#titulo_pagamento{
  padding-bottom: 4%;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
#titulo_entrega {
  padding-top: 4%;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

.ent {
  color: white;
  padding-top: 1%;
  text-align: center;
}

#car {
  color: white;
}
@media only screen and (max-width:1350px){
  @media only screen and (min-width:1224px){
    }

    header {
      position: sticky; /* manter barra de pesquisa na tela */
      top: 0;
      border-radius: 0px 0px 24px 24px;
      width: 80%;
      height: 70px;
      background-color: white;
      margin: auto;
      font-size: 18px;
      z-index: 2;
      background-color: #F9EDFF;
      box-shadow:rgba(0, 0, 0, 0.445) 0px 3px 8px;
      font-weight: 500;
    }
    #destaquedogs{
      background-image: url(imagem/banner.png);
      background-position: center;
      background-repeat: no-repeat;
      flex-direction: column;
      display: flex;
      height: 460px;
      margin-top: 2.5%;
      display: flex;
      border-radius: 12px;
      width: 1100px;

      #textodestaque {
        font-size: 44px;
        font-weight: bold;
        width: 670px;
        height: 120px;
        font-family: "Rubik", sans-serif;
        margin-top: 70px;
        margin-left: 80px;
        color: white;
      }
      
      #destacar{
        font-size: 44px;
        font-weight: bold;
        width: 670px;
        height: 120px;
        font-family: "Rubik", sans-serif;
        color: #FFE45E;
      }
      
      #paragrafodestaque{
        color: white;
        font-size: 18px;
        font-family: "Rubik", sans-serif;
        margin-top: 20px;
        margin-left: 80px;
        width: 490px;
      }

      #bdestaque{
        display: flex;
        background-color: #6BFFB8;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        font-family: "Rubik", sans-serif;
        border-radius: 12px;
        font-weight: 500;
        margin-left: 800px;
      }
      
      #bdestaque:hover{
          background-color: #F4B625;
          border: 3px solid black ;
          box-sizing: border-box;
      }

      #produtos{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      
      #produtosh1{
        color: #fff;
        font-size: 44px;
        margin-top: 50px;
        margin-left: 100px;
      }

    }

  }

  @media only screen and (max-width:1223px){
    @media only screen and (min-width:1024px){
  
      header {
        position: sticky; /* manter barra de pesquisa na tela */
        top: 0;
        border-radius: 0px 0px 24px 24px;
        width: 80%;
        height: 70px;
        background-color: white;
        margin: auto;
        font-size: 14px;
        z-index: 2;
        background-color: #F9EDFF;
        box-shadow:rgba(0, 0, 0, 0.445) 0px 3px 8px;
        font-weight: 500;
      }
      #destaquedogs{
        background-image: url(imagem/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        height: 400px;
        margin-top: 2.5%;
        display: flex;
        border-radius: 12px;
        width: 1000px;
      }
  
        #textodestaque {
          font-size: 38px;
          font-weight: bold;
          width: 670px;
          height: 80px;
          font-family: "Rubik", sans-serif;
          margin-top: 70px;
          margin-left: 80px;
          color: white;
        }
        
        #destacar{
          font-size: 38px;
          font-weight: bold;
          width: 670px;
          height: 120px;
          font-family: "Rubik", sans-serif;
          color: #FFE45E;
        }
        
        #paragrafodestaque{
          color: white;
          font-size: 16px;
          font-family: "Rubik", sans-serif;
          margin-left: 80px;
          width: 490px;
        }

        #bdestaque{
          display: flex;
          background-color: #6BFFB8;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 50px;
          font-family: "Rubik", sans-serif;
          border-radius: 12px;
          font-weight: 500;
          margin-left: 720px;
        }
        
        #bdestaque:hover{
            background-color: #F4B625;
            border: 3px solid black ;
            box-sizing: border-box;
        }

        #produtos{
          width: 95%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        
        #produtosh1{
          color: #fff;
          font-size: 44px;
          margin-top: 50px;
        }
        
        #destaque2,
        #destaque3 {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        .item1{
          background-color: #d9d9d9;
          width: 240px;
          height: 370px;
          border-radius: 24px;
          margin-top: 30px;
        }
        .item1 img {
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 20px;
        }
          

          .preco {
            padding-left: 50px;
            padding-top: 5px;
            font-size: 32px;
            font-weight: 700;
            color: #840694;
          }
          
          /*R$ pequeno*/
          sup {
            color: #840694;
            font-size: 15px;
          }
          
          /* nome dos itens, primeira linha*/
          .p1 {
            font-size: 15px;
            text-align: center;
            font-weight: 600;
          }
          /* nome dos itens, segunda linha*/
          .p2 {
            font-size: 15px;
            text-align: center;
            font-weight: 600;
          }
          
          #compre {
            width: 85%;
            background-color: #f4b625;
            height: 35px;
            border-radius: 12px;
            margin-left: 20px;
            margin-right: 15px;
            margin-top: 10px;
            cursor: pointer;
          }
          
          #compre > p {
            text-align: center;
            padding-top: 7px;
            font-size: 15px;
            font-weight: 600;
          }
        }

      }

      @media only screen and (max-width:1100px){
        @media only screen and (min-width:1020px){

          header {
            position: sticky; /* manter barra de pesquisa na tela */
            top: 0;
            border-radius: 0px 0px 24px 24px;
            width: 80%;
            height: 70px;
            background-color: white;
            margin: auto;
            font-size: 12px;
            z-index: 2;
            background-color: #F9EDFF;
            box-shadow:rgba(0, 0, 0, 0.445) 0px 3px 8px;
            font-weight: 500;
          }

          #destaquedogs{
            background-image: url(imagem/banner.png);
            background-position: center;
            background-repeat: no-repeat;
            flex-direction: column;
            display: flex;
            height: 400px;
            margin-top: 2.5%;
            display: flex;
            border-radius: 12px;
            width: 900px;
          }

          #textodestaque {
            font-size: 38px;
            font-weight: bold;
            width: 670px;
            height: 80px;
            font-family: "Rubik", sans-serif;
            margin-top: 70px;
            color: white;
          }

          #destacar{
            font-size: 38px;
            font-weight: bold;
            width: 670px;
            height: 120px;
            font-family: "Rubik", sans-serif;
            color: #FFE45E;
          }
          
          #paragrafodestaque{
            color: white;
            font-size: 16px;
            font-family: "Rubik", sans-serif;
            margin-left: 80px;
            width: 490px;
          }
  
          #bdestaque{
            display: flex;
            background-color: #6BFFB8;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            font-family: "Rubik", sans-serif;
            border-radius: 12px;
            font-weight: 500;
            margin-left: 720px;
          }
          
          #bdestaque:hover{
              background-color: #F4B625;
              border: 3px solid black ;
              box-sizing: border-box;
          }
  
          #produtos{
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
          
          #produtosh1{
            color: #fff;
            font-size: 44px;
            margin-top: 50px;
          }
          
          #destaque2,
          #destaque3 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
          }
  
          .item1{
            background-color: #d9d9d9;
            width: 220px;
            height: 370px;
            border-radius: 24px;
            margin-top: 30px;
          }
          .item1 img {
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 10px;
            width: 200px;
            height: 220px;
          }
            
  
            .preco {
              padding-left: 50px;
              padding-top: 5px;
              font-size: 32px;
              font-weight: 700;
              color: #840694;
            }
            
            /*R$ pequeno*/
            sup {
              color: #840694;
              font-size: 15px;
            }
            
            /* nome dos itens, primeira linha*/
            .p1 {
              font-size: 15px;
              text-align: center;
              font-weight: 600;
            }
            /* nome dos itens, segunda linha*/
            .p2 {
              font-size: 15px;
              text-align: center;
              font-weight: 600;
            }
            
            #compre {
              width: 85%;
              background-color: #f4b625;
              height: 35px;
              border-radius: 12px;
              margin-left: 20px;
              margin-right: 15px;
              margin-top: 10px;
              cursor: pointer;
            }
            
            #compre > p {
              text-align: center;
              padding-top: 7px;
              font-size: 15px;
              font-weight: 600;
            }
        }
      }
        

